.button {
  background: $blue;
  border: none;
  //color: white;
  color: #e8e6e3;
  display: inline-block;
  font-size: $l-font;
  font-weight: 300;
  line-height: 1;
  padding: $s-size;
  text-decoration: none;
  &:hover {
    background: #0099cc;
  }
}

.button-color {
  background: #374d73;
}
.button-color:hover {
  background-color: #0099cc;
}

.button-color--secondary {
  background-color: grey;
}
.button-color--secondary:hover {
  background-color: maroon;
}

.button--link {
  background: none;
}
.button--link:hover {
  background: none;
  color: #f70000;
}
